body {
    background-color: rgb(241, 253, 201);
}

.text-shadow{
    text-shadow: 5px 3px 5px rgb(0,0,0,0.9);
}

.flashes h4 {
    line-height: 2;
}

/* a {
    color: #965b0e;
} */

.btn-small {
    margin: 5px;
    
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;

}