{%extends "base.html"%}

{% block content %}
<h3 class="blue-text text-darken-4 center-align">All Tasks</h3>
<!-- <h2> I am from taskshtml and extending base template </h2>
    {% for task in tasks %}
        {{ task.task_name }}<br>
        {{ task.category_name }}<br>
        {{ task.task_description }}<br>
        {{ task.is_urgent }}<br>
        {{ task.due_date }}<br>
    {% endfor %} -->
    <ul class="collapsible">
    {% for task in tasks %}
        <li>
          <div class="collapsible-header yellow-text blue darken-4 text-shadow">
            <div class="div cil s3">
              <i class="fas fa-caret-down"></i>
              {% if session.user|lower == task.created_by|lower %}
              <a href="{{ url_for('delete_task', task_id=task._id)}}" class="btn small green accent4">Done</a>
              <a href="{{ url_for('edit_task', task_id=task._id)}}" class="btn small orange lighten-1">Edit</a>
              {% endif %}
            </div>
            <div class="col s9">
              <strong>{{ task.task_name }}</strong>> : {{ task.due_date }}
              {% if task.is_urgent == "on" %}
                <i class="fas fa-exclamation-circle yellow-text blue darken-4 text-shadow tooltipped" data-position="right" data-tooltip="URGENT!"></i>
              {% endif %}
            </div>
          </div>
          <div class="collapsible-body">
            <strong>{{ task.category_name }}</strong>
            <p>{{ task.task_description }}</p>
            <p><em>by: {{ task.created_by }}</em></p>
            
          </div>
        </li>
        <!-- <li>
          <div class="collapsible-header yellow-text blue darken-4 text-shadow"><i class="fas fa-caret-down"></i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header yellow-text blue darken-4 text-shadow"><i class="fas fa-caret-down"></i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li> -->
    {% endfor %}
    </ul>
{% endblock %}
